html, body {
    font-family: "Segoe UI", "Microsoft YaHei";
    margin: 0;
    padding: 0;
}

button,
input, 
select,
textarea {
    font-family: "Segoe UI", "Microsoft YaHei" !important;
}

a {
    text-decoration: none !important;
}

select {
    border: 2px solid #bdc3c7;
    color: #34495e;
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    padding: 8px 5px;
    height: 41px;
    text-indent: 6px;
    width: 100%;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    -webkit-transition: border .25s linear,color .25s linear;
       -moz-transition: border .25s linear,color .25s linear;
         -o-transition: border .25s linear,color .25s linear;
            transition: border .25s linear,color .25s linear;
}

button.btn-danger,
button[type=submit] {
    margin-top: 10px;
}

select:focus {
    border-color: #1abc9c;
    outline: none;
}

.color-red {
    color: red;
}

div#header a {
    color: #fff;
    text-decoration: none;
}

div#header div#logo {
    padding: 4px 0;
}

div#header div#logo img {
    height: 32px;
    max-height: 32px;
}

div#header a#resize-window-trigger {
    display: block;
    padding-top: 8px;
}

div#content {
    margin: 40px auto 0;
    padding: 40px 0 0;
}

div#content div#sidebar a {
    text-decoration: none;
}

div#content h2 {
    margin: 0 0 20px;
}

div#content div.alert p.message {
    margin-bottom: 0;
}

div#content form div.row-fluid {
    margin-bottom: 10px;
}

div#content div.row-fluid > div.span4 > label {
    font-weight: bold;
    margin: 10px 0 0;
}
div#content div.row-fluid > div.span3 > label {
    font-weight: bold;
    margin: 10px 0 0;
}
div#content div.row-fluid > div.span2 > label {
    font-weight: bold;
    margin: 10px 0 0;
}

div#content form div.row-fluid > div.span4 > label > a {
    font-weight: normal;
    text-decoration: none;
}

div#content input[type=text],
div#content input[type=password] {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

div#content div#advanced-options,
div#content div#module-switch {
    padding-left: 20px;
}

div#content textarea {
    color: #34495e;
    height: 285px;
    max-width: 100%;
    resize: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* Style for config.html in PHP-Proxy */
div#content form#goagent-php-config div.row-fluid div.span4 label[for=enable-php-proxy] {
    margin-top: 5px;
}

div#content form#goagent-php-config div.row-fluid div.span4 label[for=enable-php-proxy] > a {
    font-weight: normal;
    text-decoration: none;
}

/* Style for status.html */
table#status td {
    word-wrap: break-word;
}

/* Style for logging.html */
div#log {
    background-color: #f4f6f6;
    border: 2px solid #d5dbdb;
    border-radius: 6px;
    color: #34495e;
    font-size: 14.994px;
    height: 285px;
    line-height: 24px;
    max-width: 100%;
    overflow-y: auto;
    padding: 5px 11px;
    text-indent: 0;
}

div#log > p {
    margin-bottom: 0;
    word-wrap: break-word;
}

/* Styles for deploy.html */
div#content div#deploy p.tip {
    font-size: 13px;
    margin-top: 5px;
}

/* Styles for about.html */
div#content div#about a {
    text-decoration: none;
}

div#content div#about div.row-fluid div.span4 {
    font-weight: bold;
}

div#content div#thanks ul {
    list-style: none;
    margin: 0;
}

div#content div#thanks li {
    line-height: 150%;
}

/* Styles for config.html in System */
div#content div#options div.row-fluid {
    margin-bottom: 10px;
}

div#content div#options div.row-fluid div.span4 {
    font-weight: bold;
    padding-top: 5px;
}

/* Smaller than standard 1200 (devices and browsers) */
@media only screen and (max-width: 1199px) {
}

/* Portrait size to standard 1200 (devices and browsers) */
@media only screen and (min-width: 960px) and (max-width: 1199px) {
    div.container {
        width: 960px;
    }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    div.container {
        width: 768px;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    div#header {
        margin: 0;
    }

    div#header div.span8 {
        display: none;
    }

    div#header div#logo {
        text-align: center;
    }

    div#content {
        padding: 0;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    div.container {
        width: 480px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    div.container {
        width: 320px;
    }
}